* {
  font-family: 'Alfa Slab', sans-serif;
}
body {
  text-align: center;
  background-color: rgb(255, 197, 89);
  color: black;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.pizzas-img-container img {
  width: 250px;
  padding: 25px;
  filter: drop-shadow(10px 10px 20px rgb(53, 51, 51));
}

#number {
  width: 350px;
  height: 35px;
  padding-left: 15px;
  margin: 15px 0;
  border: none;
  outline: none;
  border-radius: 10px;
}
#press-button {
  margin-top: 10px;
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(253, 106, 106) 0%, rgb(238, 63, 19) 100%);
}
#press-button:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(252, 122, 122) 0%, rgb(212, 25, 12) 100%);
}
.pizzas-container small {
  color: #ff1111;
  text-align: center;
  width: 300px;
  margin: auto;
}